body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



.top-banner {
    background-image: url(/images/food\ donation.jpeg);
    background-repeat: no-repeat;

    width: auto;
    height: 500px;
    color: white;
    background-position: center;


}

.top-banner h1 {
    text-align: center;
    height: 100;
    width: 400px;
    margin: auto;
    width: 50%;

    padding: 10px;

}

.top-banner p {
    margin: auto;
    width: 50%;

    padding: 10px;
    margin-bottom: 30px;
}


.donate-now-btn {
    background-color: #FF5959;
    color: white;

    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 450px;

    width: 50%;

    padding: 10px;
}

.donate-today-text {
    margin-top: 100px;
    text-align: center;

}

.donate-today-text p {
    width: 550px;
    margin-left: 250px;
}

.tk {
    display: flex;
    color: #707070;
    justify-content: space-between;
    margin-bottom: 20px;



}

.tk h1 {
    padding-top: 50px;
}

#tk200 {
    color: #FF5959;
    border: 2px solid #FF5959;
    height: 100px;
    width: 130px;
    text-align: center;
    background-color: white;

}

body p {
    font-size: smaller;
}


.food {
    width: 300px;
    height: 250px;
    padding: 10px;
    border: 1px solid white;
    padding-top: 70px;
    margin: 10px;
    box-shadow: 1px 5px 5px #707070;
}


.shelter {
    width: 300px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    padding-top: 70px;
    margin: 10px;
    box-shadow: 1px 5px 5px #707070;
}

.education {
    width: 300px;
    height: 250px;
    padding: 10px;
    border: 1px solid white;
    padding-top: 70px;
    margin: 10px;
    box-shadow: 1px 5px 5px #707070;
    background-color: bisque;

}

.card {
    display: flex;
    justify-content: space-between;


}